<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>View Meeting Page</title>
</head>
<body>
    <app-header></app-header>
    <div class="mx-5 my-5">
        <h1>Meeting Details</h1>
        <section class="section dashboard mt-5">
            <div class="card overflow-auto">
                <table class="table table-bordered mb-0">
                    <thead class="table-info">
                        <tr>
                            <th class="col">Meeting ID</th>
                            <th class="col">Meeting Topic</th>
                            <th class="col">Number of people</th>
                            <th class="col">Start Date</th>
                            <th class="col">Start Time</th>
                            <th class="col">End Date</th>
                            <th class="col">End Time</th>
                            <th class="col">Action</th>
                        </tr>
                    </thead>
                    <tbody [hidden]="noMeetings">
                        <tr style="height: 500px;">
                            <td colspan="8" style="text-align: center;" class="align-middle h2">No meetings are scheduled</td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let meeting of meetings">
                        <tr>
                            <td class="align-middle">{{meeting.meetingId}}</td>
                            <td class="align-middle">{{meeting.meetingTopic}}</td>
                            <td class="align-middle">{{meeting.numberOfPeople}}</td>
                            <td class="align-middle">{{meeting.startDate | date}}</td>
                            <td class="align-middle">{{meeting.startTime | date:'shortTime'}}</td>
                            <td class="align-middle">{{meeting.endDate | date}}</td>
                            <td class="align-middle">{{meeting.endTime | date:'shortTime'}}</td>
                            <td>
                                <button type="button" class="btn btn-secondary" routerLink="/editMeeting/{{meeting.meetingId}}">Edit</button>
                                <button type="button" class="btn btn-dark mx-2" (click)="deleteMeeting(meeting.meetingId)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>